<footer style="
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-image: url('/images/background.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    color: aliceblue;
    text-align: center;
    padding: 1px;
">
    <div style="background-image: url('/images/background.gif'); background-size: cover; background-repeat: no-repeat; height: auto;width: auto; "class="f-info">

<!-- <div class="f-info"> -->
       <p class="f-info-socials" style="height: 10%; margin-left: 0%;color: aliceblue;position: sticky;bottom: 0;">
        <!-- facebook icon -->
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in fa-beat-fade"></i>
        <p class="f-info-brand" style="color: rgb(22, 109, 240);">
            <b style="font-size:large; margin-left: 0%;letter-spacing: 5px;">CARE&CURE</b>
        </p>
  
    <!-- </div> -->
    </div>
</footer>