<footer>
<div class="f-info">
       <div class="f-info-socials">
        <!-- facebook icon -->
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in fa-beat-fade"></i>
       
 <div>
        <div class="f-info-brand">
            sidbnb private ltd.
        </div>
    </div class="f-info-links">
    <a href="/privacy">privacy</a>
    <a href="/terms">terms</a>

    </div>
</footer>