<footer>
<div class="f-info">
       <p class="f-info-socials">
        <!-- facebook icon -->
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in fa-beat-fade"></i>
       </p>
        <p class="f-info-brand" style="color: rgb(22, 109, 240);">
            TRUEVIEWER 
        </p>
  
    </div>
</footer>