<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- 
if you click icon redirect to home 
icon from font awesome  -->
<!-- include fontawesome cdn in your boilerplate folder -->
<!-- fontawesome <i class="fa-solid fa-location-arrow"></i> -->
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-location-arrow"></i>sidbnb</a>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <!-- move to listing route -->
          <a class="nav-link" href="/listing">ALL LISTINGS</a>
          <a class="nav-link" href="/listing/new">add new</a>
        </div>
      </div>
    </div>
  </nav>