<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">

    <!-- <div style="background-image: url('/images/nav.gif'); background-size: cover; background-repeat: no-repeat; height: auto;" class="container-fluid"> -->
      <div class="container-fluid">

        <!-- 
if you click icon redirect to home 
icon from font awesome  -->
<!-- include fontawesome cdn in your boilerplate folder -->
<!-- fontawesome <i class="fa-solid fa-location-arrow"></i> -->
      <a style="color: rgb(20, 117, 235);letter-spacing: 5px;" class="navbar-brand" href="/listing"><i class="fa-solid fa-laptop-medical" style="color: #0984e1;"></i>  <b></i >Care&Cure</a>  </b>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div style="margin-left: 5%;" class="navbar-nav">
          <!-- home icon -->
          <a class="nav-link active" aria-current="page" href="/listing"><i title="HOME PAGE" style="color: rgb(17, 97, 227);display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" class="fa-solid fa-home " aria-hidden="true"></i></a>   
          <!-- move to newlisting create route -->
          <a class="nav-link" href="/listing/new"><i title="CREATE NEW" style="color: rgb(13, 98, 235);display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" class="fa-solid fa-plus-square " aria-hidden="true"></i>
          </a>
            <a class="nav-link" href="https://kypg2yvh7zuecfvnxytb2m.streamlit.app/"><i title="testheart" style="  color: rgb(15, 114, 228);   display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" class="fa-solid fa-heart-circle-plus "style="color: #f5757b;">H</i></a>
            <a class="nav-link" href="https://naivebhtgit-wkcy4xf7qbiatsuq9v7go6.streamlit.app/"><i title="testkidney" style="  color: rgb(15, 114, 228);   display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" class="fa-solid fa-hat-cowboy-side "style="color: #f5757b;">K</i></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <!-- curruser  explanation see below -->
            <% if(!curruser){ %>
            <a class="nav-link" href="/login"><i  title="login" style="  color: rgb(15, 114, 228);   display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" class="fa-solid fa-duotone fa-right-to-bracket"></i></a>
            <a class="nav-link" href="/signup"><i title="SIGNUP" style="  color: rgb(15, 114, 228);   display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" class="fa-solid fa-user-plus"></i></a>
            <% } %>
            <% if(curruser) { %>
              <!-- logout -->
            <a class="nav-link" href="/logout"><i style="  color: rgb(240, 109, 8); display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" title="LOGOUT" class="fa-solid fa-sign-out " aria-hidden="true"></i>
            </a>
            <a class="nav-link" href="https://t.me/+7qtWfBk3R5s2OTE1"><i title="JOIN COMMUNITY" style="color: rgb(13, 98, 235);display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 0.25em; padding: .35em 0.9em" class="fa-brands fa-telegram " aria-hidden="true"></i>

                   <% } %>

                  
          </div>
      </div>
    </div>
    <a href="mailto:sidharthsankarmohapatra2003@gmail.com?subject=Inquiry&body=Hello, I have a question...">
      <button class="btn btn-white btn-lg" style="background-color:rgb(14, 103, 238) ;color: whitesmoke;font-size: xx-small;">Write to us</button>
  </a>
  </nav>
  <!-- curruser is taken from aap.js   (res.locals.curruser = req.user)
  curruser takes data from req.user which is a passport.js method
  that returns user object if exists

  we can not use req.user directly without importing
  so we added that in aap.js in res.locals

now if user object does not exist then show login or signup on navbar(top)
else show logout -->
