<!-- code from bootstrap documentation components/alerts -->
<% layout("/layouts/boilerplate") %>

<div class="row"></div>
<div class="alert alert-danger col-6 offset-3" role="alert">
    <h4><%=message%></h4>
    A simple danger alert—check it out!
  </div>
</div>