<% layout("/layouts/boilerplate") %>
<div class="row"> 
    <!-- offset for giving space from left -->
   <h3  class="col-8 offset-2"  style="color: rgb(129, 225, 238);">Happy to see you again</h3> 
   <h6  class="col-8 offset-2" >Sign up to access your account</h6>
    
    <div class="col-8 offset-2">
       <form action="/signup" method="POST" class="needs-validation" novalidate>

        
        <div  class="mb-3">
             <label for="username" class="form-label">username</label>
             <input required name="username" id="username"  type="text"  class="form-control" />
          <div class="valid-feedback">seems good</div>
        </div>

        <div  class="mb-3">
            <label for="email" class="form-label">email</label>
            <input required name="email" id="email"  type="email"  class="form-control" />
       </div>

       <div  class="mb-3">
        <label for="password" class="form-label">password</label>
        <input required name="password" id="password"  type="password"  class="form-control" />
       <div class="valid-feedback">seems good</div>
       </div>
      
       <button class="btn btn-white" style="background-color:rgb(14, 103, 238) ;color: whitesmoke;width: 100px;font-size: small;letter-spacing: 0px;">Sign up</button>
    
    </form>
    
    
    </div>
</div>